.Rproj.user
.Rhistory
.RData
.Ruserdata
._.git
._.gitignore
._.vscode
._algo
._analysisIntro
._assets
._dataAnalysis
._dataCleaningAndPreProcessing
._dataVisualizationAndExploration
._eda
._handlingMissingValues
._pathfindingAlgorithmsWithPython
._productivityAndStatistics4DataScienceAndBusiness
._R_language
._readme.md
._SQL
.vscode/._settings.json
algo/._a
algo/._bF
algo/._bfs
algo/._dfs
algo/._Dijkstra
algo/._hybride
algo/._Kahn
algo/._kahnVsTarjan
algo/._kruskal
algo/._path
algo/._pathVsSearch
algo/._prim
algo/._ResearchAndPlanningProblems
algo/._search
algo/._tabou
algo/._tarjan
algo/._topologicalSort
algo/._unsupervisedLearningAlgorithms
algo/a/._readme.md
algo/bF/._readme.md
algo/bfs/._readme.md
algo/dfs/._readme.md
algo/Dijkstra/._readme.md
algo/hybride/._readme.md
algo/Kahn/._readme.md
algo/kahnVsTarjan/._readme.md
algo/kruskal/._readme.md
algo/path/._readme.md
algo/pathVsSearch/._readme.md
algo/prim/._readme.md
algo/ResearchAndPlanningProblems/._readme.md
algo/search/._readme.md
algo/tabou/._readme.md
algo/tarjan/._readme.md
algo/topologicalSort/._readme.md
algo/unsupervisedLearningAlgorithms/._clustering
algo/unsupervisedLearningAlgorithms/._KNN
algo/unsupervisedLearningAlgorithms/clustering/._readme.md
algo/unsupervisedLearningAlgorithms/KNN/._readme.md
analysisIntro/._chooseAndDesignTheNextAction
analysisIntro/._ifResultsDrop
analysisIntro/._intro
analysisIntro/._knowIfActionSuccess
analysisIntro/._provideGoodWork
analysisIntro/._readme.md
analysisIntro/._spreadsheet
analysisIntro/._tips
analysisIntro/chooseAndDesignTheNextAction/._confirmProblems
analysisIntro/chooseAndDesignTheNextAction/._dtermineActionToTake
analysisIntro/chooseAndDesignTheNextAction/._IdentifyFrictionPointsQualitatively
analysisIntro/chooseAndDesignTheNextAction/._quantitativeWay
analysisIntro/chooseAndDesignTheNextAction/confirmProblems/._readme.md
analysisIntro/chooseAndDesignTheNextAction/dtermineActionToTake/._readme.md
analysisIntro/chooseAndDesignTheNextAction/IdentifyFrictionPointsQualitatively/._readme.md
analysisIntro/chooseAndDesignTheNextAction/quantitativeWay/._readme.md
analysisIntro/ifResultsDrop/._adaptTheModeling
analysisIntro/ifResultsDrop/._BreakTheProblem
analysisIntro/ifResultsDrop/._decisionTree
analysisIntro/ifResultsDrop/._goodQuestion
analysisIntro/ifResultsDrop/._sub-questions
analysisIntro/ifResultsDrop/adaptTheModeling/._readme.md
analysisIntro/ifResultsDrop/BreakTheProblem/._readme.md
analysisIntro/ifResultsDrop/decisionTree/._readme.md
analysisIntro/ifResultsDrop/goodQuestion/._readme.md
analysisIntro/ifResultsDrop/sub-questions/._readme.md
analysisIntro/intro/._def
analysisIntro/intro/._ifThereIsNoData
analysisIntro/intro/._termsAndConcepts
analysisIntro/intro/def/._readme.md
analysisIntro/intro/ifThereIsNoData/._readme.md
analysisIntro/intro/termsAndConcepts/._readme.md
analysisIntro/knowIfActionSuccess/._chooseMeasuringMethod
analysisIntro/knowIfActionSuccess/._indentifyTarget
analysisIntro/knowIfActionSuccess/._measureImpact
analysisIntro/knowIfActionSuccess/._statisticalMethod
analysisIntro/knowIfActionSuccess/._trackImpact
analysisIntro/knowIfActionSuccess/chooseMeasuringMethod/._readme.md
analysisIntro/knowIfActionSuccess/indentifyTarget/._readme.md
analysisIntro/knowIfActionSuccess/measureImpact/._readme.md
analysisIntro/knowIfActionSuccess/statisticalMethod/._readme.md
analysisIntro/knowIfActionSuccess/trackImpact/._readme.md
analysisIntro/provideGoodWork/._departmentObjective
analysisIntro/provideGoodWork/._LimitationsAndUsefulnessOfIndicators
analysisIntro/provideGoodWork/._measurePerformance
analysisIntro/provideGoodWork/._performanceIndicators
analysisIntro/provideGoodWork/._understandTheBusinessObjective
analysisIntro/provideGoodWork/departmentObjective/._readme.md
analysisIntro/provideGoodWork/LimitationsAndUsefulnessOfIndicators/._readme.md
analysisIntro/provideGoodWork/measurePerformance/._readme.md
analysisIntro/provideGoodWork/performanceIndicators/._reamde.md
analysisIntro/provideGoodWork/understandTheBusinessObjective/._readme.md
analysisIntro/spreadsheet/._readme.md
analysisIntro/tips/._backToTheProblem
analysisIntro/tips/._checkNumbers
analysisIntro/tips/._dataLimitations
analysisIntro/tips/._PresentAnalysis
analysisIntro/tips/._readme.md
analysisIntro/tips/._writeTheResults
analysisIntro/tips/backToTheProblem/._readme.md
analysisIntro/tips/checkNumbers/._readme.md
analysisIntro/tips/dataLimitations/._readme.md
analysisIntro/tips/PresentAnalysis/._readme.md
analysisIntro/tips/writeTheResults/._readme.md
assets/._atomicDs.png
dataAnalysis/._datavisualizing
dataAnalysis/datavisualizing/._matplolib
dataAnalysis/datavisualizing/._readme.md
dataAnalysis/datavisualizing/matplolib/._readme.md
dataCleaningAndPreProcessing/._readme.md
dataVisualizationAndExploration/._readme.md
eda/._readme.md
handlingMissingValues/._readme.md
pathfindingAlgorithmsWithPython/._aStar
pathfindingAlgorithmsWithPython/._bfs
pathfindingAlgorithmsWithPython/._dfs
pathfindingAlgorithmsWithPython/._kosaraju
pathfindingAlgorithmsWithPython/._lexBfs
pathfindingAlgorithmsWithPython/._readme.md
pathfindingAlgorithmsWithPython/aStar/._readme.md
pathfindingAlgorithmsWithPython/bfs/._readme.md
pathfindingAlgorithmsWithPython/dfs/._readme.md
pathfindingAlgorithmsWithPython/kosaraju/._cfc
pathfindingAlgorithmsWithPython/kosaraju/._readme.md
pathfindingAlgorithmsWithPython/kosaraju/cfc/._readme.md
pathfindingAlgorithmsWithPython/lexBfs/._readme.md
productivityAndStatistics4DataScienceAndBusiness/._1_data
productivityAndStatistics4DataScienceAndBusiness/._2_probability
productivityAndStatistics4DataScienceAndBusiness/._3_distributions
productivityAndStatistics4DataScienceAndBusiness/._assets
productivityAndStatistics4DataScienceAndBusiness/._readme.md
productivityAndStatistics4DataScienceAndBusiness/1_data/._dataMeasurement
productivityAndStatistics4DataScienceAndBusiness/1_data/._definition
productivityAndStatistics4DataScienceAndBusiness/1_data/._dispersionMeasurement
productivityAndStatistics4DataScienceAndBusiness/1_data/._measureCentralTendency
productivityAndStatistics4DataScienceAndBusiness/1_data/._quartileMeasurement
productivityAndStatistics4DataScienceAndBusiness/1_data/dataMeasurement/._readme.md
productivityAndStatistics4DataScienceAndBusiness/1_data/definition/._readme.md
productivityAndStatistics4DataScienceAndBusiness/1_data/dispersionMeasurement/._readme.md
productivityAndStatistics4DataScienceAndBusiness/1_data/measureCentralTendency/._readme.md
productivityAndStatistics4DataScienceAndBusiness/1_data/quartileMeasurement/._readme.md
productivityAndStatistics4DataScienceAndBusiness/2_probability/._AdditionAndMultiplicationRules
productivityAndStatistics4DataScienceAndBusiness/2_probability/._BayesTheorem
productivityAndStatistics4DataScienceAndBusiness/2_probability/._combinations
productivityAndStatistics4DataScienceAndBusiness/2_probability/._conditionalProbability
productivityAndStatistics4DataScienceAndBusiness/2_probability/._definition
productivityAndStatistics4DataScienceAndBusiness/2_probability/._independentAndDependentEvents
productivityAndStatistics4DataScienceAndBusiness/2_probability/._IntersectionsUnionsComplementaryEvents
productivityAndStatistics4DataScienceAndBusiness/2_probability/._permutation
productivityAndStatistics4DataScienceAndBusiness/2_probability/AdditionAndMultiplicationRules/._readme.md
productivityAndStatistics4DataScienceAndBusiness/2_probability/BayesTheorem/._readme.md
productivityAndStatistics4DataScienceAndBusiness/2_probability/combinations/._readme.md
productivityAndStatistics4DataScienceAndBusiness/2_probability/conditionalProbability/._readme.md
productivityAndStatistics4DataScienceAndBusiness/2_probability/definition/._readme.md
productivityAndStatistics4DataScienceAndBusiness/2_probability/independentAndDependentEvents/._readme.md
productivityAndStatistics4DataScienceAndBusiness/2_probability/IntersectionsUnionsComplementaryEvents/._readme.md
productivityAndStatistics4DataScienceAndBusiness/2_probability/IntersectionsUnionsComplementaryEvents/._readme.tex
productivityAndStatistics4DataScienceAndBusiness/2_probability/permutation/._readme.md
productivityAndStatistics4DataScienceAndBusiness/3_distributions/._binomialDistribution
productivityAndStatistics4DataScienceAndBusiness/3_distributions/._intro
productivityAndStatistics4DataScienceAndBusiness/3_distributions/._poissonLaw
productivityAndStatistics4DataScienceAndBusiness/3_distributions/._uniformDistribution
productivityAndStatistics4DataScienceAndBusiness/3_distributions/binomialDistribution/._readme.md
productivityAndStatistics4DataScienceAndBusiness/3_distributions/intro/._readme.md
productivityAndStatistics4DataScienceAndBusiness/3_distributions/poissonLaw/._readme.md
productivityAndStatistics4DataScienceAndBusiness/3_distributions/uniformDistribution/._readme.md
productivityAndStatistics4DataScienceAndBusiness/assets/._abbreviatedBinomialProbabilityFunction.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._addition4Non-exclusiveEvents.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._bayes.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._bayesBigVersion.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._bayesGenerale.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._binomialDistribution.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._binomialDistribution1.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._binomialProbabilityFunction.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._discreteUniformDistribution.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._finaleBinomialProbabilityFunction.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._poissonDistribLambda.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._poissonDistribution.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._poissonEquation.jpg
productivityAndStatistics4DataScienceAndBusiness/assets/._symboles.png
R_language/._define
R_language/._OC
R_language/define/._readme.md
R_language/OC/._firstProject
R_language/OC/firstProject/._data
R_language/OC/firstProject/._exportData.qmd
R_language/OC/firstProject/._firstProject.Rproj
R_language/OC/firstProject/._firstScriptQuarto.html
R_language/OC/firstProject/._firstScriptQuarto.qmd
R_language/OC/firstProject/._firstScriptQuarto_files
R_language/OC/firstProject/._img
R_language/OC/firstProject/._importData.qmd
R_language/OC/firstProject/._modifyData.qmd
R_language/OC/firstProject/data/._mixite-dans-le-groupe-edf.csv
R_language/OC/firstProject/firstScriptQuarto_files/._libs
R_language/OC/firstProject/firstScriptQuarto_files/libs/._bootstrap
R_language/OC/firstProject/firstScriptQuarto_files/libs/._clipboard
R_language/OC/firstProject/firstScriptQuarto_files/libs/._quarto-html
R_language/OC/firstProject/firstScriptQuarto_files/libs/bootstrap/._bootstrap-icons.css
R_language/OC/firstProject/firstScriptQuarto_files/libs/bootstrap/._bootstrap-icons.woff
R_language/OC/firstProject/firstScriptQuarto_files/libs/bootstrap/._bootstrap.min.css
R_language/OC/firstProject/firstScriptQuarto_files/libs/bootstrap/._bootstrap.min.js
R_language/OC/firstProject/firstScriptQuarto_files/libs/clipboard/._clipboard.min.js
R_language/OC/firstProject/firstScriptQuarto_files/libs/quarto-html/._anchor.min.js
R_language/OC/firstProject/firstScriptQuarto_files/libs/quarto-html/._popper.min.js
R_language/OC/firstProject/firstScriptQuarto_files/libs/quarto-html/._quarto-syntax-highlighting.css
R_language/OC/firstProject/firstScriptQuarto_files/libs/quarto-html/._quarto.js
R_language/OC/firstProject/firstScriptQuarto_files/libs/quarto-html/._tippy.css
R_language/OC/firstProject/firstScriptQuarto_files/libs/quarto-html/._tippy.umd.min.js
R_language/OC/firstProject/img/._Logo_OpenClassrooms.png
SQL/._readme.md
assets/._zFKesVad0pW5X0jtsdSj--4j3ez.png
._more
numpy/._firstDataloreNumpyTable.ipynb
numpy/._numPyDataTypes.ipynb
numpy/._numPyArrayAttributes.ipynb
numpy/._numPyArraysOfDifferentDimensions.ipynb
numpy/._numPyCreatingArrays.ipynb
numpy/._numPyIndexingAndSlicing.ipynb
numpy/._numPyOperationsWithArrays.ipynb
numpy/._numPyRandomNumbers.ipynb
numpy/._numPyArrayReshaping.ipynb
numpy/._tableCutting.ipynb
numpy/._numPyUniversalFunctions.ipynb
numpy/._concatenatingAndSplittingNumPyArrays.ipynb
numpy/._numPyUniversalFunctionsUfuncs.ipynb
numpy/._readme.md
